<section id="links-section" class="doc-section">
    <h2 class="section-title">Useful links</h2>
    <div class="section-block">
        <h6>Click here for more information</h6>
        <a style='font-size:20px' href="https://symfony.com/doc/current/setup.html">Symfony</a>, 
        <a style='font-size:20px' href="https://swiftmailer.symfony.com/docs/introduction.html">SwiftMailer</a>

    </div>
</section>