<section id="installation-section" class="doc-section">
    <h2 class="section-title">Usage</h2>
    <!--//section-block-->
    <div id="step2" class="section-block">
        <h3 class="block-title" id='step1'>Introduction to the task</h3>
        <p>
        </p>
        <div class="row">
            <div class="col-md-9 col-12">

                <ul class="list">
                    <li>Route: https://mail-service.devrise.rs/email/send</li>
                    
                    <li>Method: <b>POST</b></li>
                    <p>POST is used to send data to a server to create/update a resource.</p>
                    <li>Schema: <b>https</b></li>
                    <p><b>H</b>yper<b>T</b>ext <b>T</b>ransfer <b>P</b>rotocol <b>S</b>ecure (HTTPS) is an extension of the Hypertext Transfer Protocol (HTTP). It is used for secure communication over a computer network, and is widely used on the Internet.</p>
                    <li>Payload:
                        <ul>
                            <li><b>name</b> - Sender full name</li>
                            <li><b>email</b> - Sender email address</li>
                            <li><b>subject</b> - Email subject</li>
                            <p>Last 3 payloads are paramount to the functionality of the service itself</p>
                            <li><b>sendTo</b>- Email must be valid in order for the message itself to reach user</li>
                            <li><b>sendfrom</b> - Is the email of the person sending the message (i.e. your email)</li> 
                            <li><b>message</b> - Text that you want to send to someone</li>
                        </ul>
                    </li>
                </ul>
            </div>
            
        </div>
        <!--//row-->
    </div>
    <!--//section-block-->

    <!--//section-block-->
</section>
<!--//doc-section-->