<section id="download-section" class="doc-section">
    <h2 class="section-title">Mail Service</h2>
    <div class="section-block">
        <p>Mail service is small Symfony application / service  which uses <b>swift mailer</b> bundle for sending mails.
        </p>
        <p>Symfony provides a mailer feature based on the popular Swift Mailer library via the SwiftMailerBundle. This mailer supports sending messages with your own mail servers as well as using popular email providers like Mandrill, SendGrid, and Amazon SES.</p>
        <p>Symfony's Mailer & Mime components form a powerful system for creating and sending emails - complete with support for multipart messages, <a href='https://twig.symfony.com/doc/3.x/'>Twig</a>, CSS inlining, file attachments and a lot more.</p>
        <p>When we are introduced to the theory it's time to move on to the practical part<p>

        <a href="https://mail-service.devrise.rs/email/send"
            class="btn btn-green" target="_blank"><i class="fas fa-link"></i> SwiftMailer</a>
    </div>
</section>
<!--//doc-section-->